* {
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    color: var(--blackColor);
    scroll-behavior: smooth;
    transition: .4s ease;
}

:root {
    --blackColor: #000000;
    --greyColor: #797979;
    --pinkColor: #FF005C;
    --whiteColor: #dde6ee;
}

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
    text-transform: uppercase;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Modal Window */

.close-modal-window {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #444;
    cursor: pointer;
    border: none;
    background: none;
}

.hidden {
    display: none;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: #fff;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.fixedPos {
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 5;
}

/* Header */

header {
    padding: 28px 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.header__logo > p {
    margin: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    color: var(--pinkColor);
}

.header__nav {
    display: flex;
    flex-direction: row;
}

.header__nav-list {
    display: flex;
    padding: 0 40px;
}

.header__nav-list-item {
    padding: 0 30px;
}

.header__nav-item-link:hover {
    color: var(--pinkColor);
    text-decoration: underline;
}

.header__phone > p {
    position: relative;
    display: inline-block;
    min-width: 200px;
    text-align: center;
}

.header__phone > p:hover {
    color: var(--pinkColor);
}

.header__phone > p::before {
    position: absolute;
    content: '';
    background-image: url('../img/Outline.png');
    width: 24px;
    height: 24px;
    left: 0;
    right: 9px;
    top: -2px;
    bottom: 0;
}

/* Main Content */

main {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.main__content {
    margin-top: 90px;
    width: 800px;
}

.main__image {
    width: 700px;
}

.main__content > h1 {
    max-width: 400px;
}

.main__content > p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.main__content > button {
    background: #FF005C;
    padding: 12px 40px;
    box-shadow: 0 0 30px rgba(0, 133, 255, 0.25);
    border-radius: 4px;
    border: none;
    outline: none;
    color: var(--whiteColor);
    cursor: pointer;
}

.main__content > button:hover {
    box-shadow: 5px 6px 40px rgba(0, 133, 255, 0.55);
}

/* chooses section */

.chooses {
    padding: 50px 0;
}

.chooses > h2 {
    text-align: center;
}

.chooses__wrap {
    padding: 55px 0;
    display: flex;
    justify-content: space-between;
}

.chooses__card {
    width: 370px;
    height: 244px;
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 133, 255, 0.15);
}

.chooses__card-top {
    padding: 20px 20px;
    border-bottom: 1px solid #BFE0FF;;
}

.chooses__card-bottom {
    padding: 20px 20px;
}

.chooses__card-bottom-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
}

.chooses__card-bottom-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 135%;
}

/* Type to Fix */

.type__fix-wrap {
    display: grid;
    grid-template-columns: 1.2fr 1.1fr;
    grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr;
    gap: 50px 40px;
    grid-template-areas:
    "type__fix-card-1 type__fix-card-2"
    "type__fix-card-3 type__fix-card-4"
    "type__fix-card-5 type__fix-card-6"
    "type__fix-card-7 type__fix-card-8";
}

.type__fix-card {
    width: 590px;
    height: 280px;
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 133, 255, 0.15);
    padding: 16px 30px;
}

.type__fix-card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
}

.type__fix-card-list {
    padding: 0;
    width: 400px;
}

.type__fix-card-item > p {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 135%;
    cursor: pointer;
}

.type__fix-card-content {
    display: flex;
}

.type__fix-card-item > p:hover {
    color: var(--pinkColor);
}

.type__fix-card-1 {
    grid-area: type__fix-card-1;
    background-image: url("../img/fixCard/card-1.png")
}

.type__fix-card-2 {
    grid-area: type__fix-card-2;
    background-image: url("../img/fixCard/card-8.png")
}

.type__fix-card-3 {
    grid-area: type__fix-card-3;
    background-image: url("../img/fixCard/card-2.png")
}

.type__fix-card-4 {
    grid-area: type__fix-card-4;
    background-image: url("../img/fixCard/card-3.png")
}

.type__fix-card-5 {
    grid-area: type__fix-card-5;
    background-image: url("../img/fixCard/card-4.png")
}

.type__fix-card-6 {
    grid-area: type__fix-card-6;
    background-image: url("../img/fixCard/card-5.png")
}

.type__fix-card-7 {
    grid-area: type__fix-card-7;
    background-image: url("../img/fixCard/card-6.png")
}

.type__fix-card-8 {
    grid-area: type__fix-card-8;
    background-image: url("../img/fixCard/card-7.png")
}

/* Repair Brand */

.repair__brand > h3 {
    margin-top: 90px;
    text-align: center;
}

/* Slider */

.slide > h4 {
    margin-top: 70px;
    text-align: center;
}

.swiper-container {
    width: 100%;
    height: auto;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.swiper-slide {
    flex: 0 0 50%;
    padding: 40px 40px;
    width: 590px;
    height: 354px;
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 133, 255, 0.15);
    margin-bottom: 84px;
}

.swiper-pagination > .swiper-pagination-bullet {
    margin-top: 20px;
    opacity: 1;
    width: 14px;
    height: 14px;
    border: white solid 1px;
    background: #797979;
}

.swiper-pagination > .swiper-pagination-bullet-active {
    background-color: var(--pinkColor);
}

.swiper-slide-top {
    display: flex;
    align-items: center;
    align-content: center;
}

.swiper-slide-top > img {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
}

.swiper-slide-top > p {
    margin-left: 22px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
}

.swiper-slide-center {
    display: flex;
}

.swiper-slide-center {
    display: flex;
    align-items: center;
    align-content: center;
}

.swiper-slide-center > img {
    width: 120px;
    height: 24px;
    padding: 0;
    margin: 0;
}

.swiper-slide-center > p:first-child {
    margin: 0;
}

.swiper-slide-center > p {
    margin: 0 30px
}

.swiper-slide-bottom > p {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 165%;
}

/* how we working */


.working__wrap {
    padding: 25px 10px;
    display: flex;
    justify-content: space-between;
}

.working__card {
    width: 386px;
    height: 180px;
    padding: 20px 10px;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(140, 142, 144, 0.15);
}

.working__card-top {
    padding: 0;
    margin: 0;
    height: 80px;
    display: flex;
    border-bottom: 1px solid #BFE0FF;
    align-items: center;
}

.working__card-bot {
    width: 648px;
    height: 120px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(140, 142, 144, 0.15);
}

.working__card-bottom-bot {
    display: flex;
    align-items: center;
    margin-left: 22px;
}

.working__card-top-text {
    margin-left: 22px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 165%;
}

.working__card-bot-top {
    border-right: 1px solid #BFE0FF;
    display: flex;
    align-items: center;
}

.working__card-bot-bottom-desc {
    display: flex;
    align-content: center;
    align-items: center;
}

.working__card-top-num {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 135%;
    color: var(--pinkColor);
    margin-left: 21px;
}

.working__card-bot-top > .working__card-top-text {
    padding-right: 22px;
}

.working__card-bottom-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    padding-right: 10px;
}

.working__card-bottom-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 135%;
}

.contact {
    margin-top: 30px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
}

.contact-box-title {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 135%;
    color: #797979;
}

.contact-box-link {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 165%;
    text-decoration-line: underline;
    color: #FF005C;
    background-color: transparent;
    border: none;
}

.contact-info-block {
    padding-left: 120px;
    width: 400px;
    border-right: 1px solid var(--greyColor);
    margin-bottom: 33px;
}

.contact-box-info {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 165%;
    color: #000000;
}

footer {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
}

.footer-left-logo {
    display: flex;
    align-items: center;
    align-content: center;
}

.footer-left-text {
    max-width: 940px;
    font-weight: 600;
    font-size: 17px;
}

.footer-left-info {
    display: flex;
    align-items: center;
    align-content: center;
}

.footer-left-logo > p:first-child {
    margin: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    color: var(--pinkColor);
}

.footer-left-logo > p:last-child {
    margin: 0;
    font-style: normal;
    margin-left: 22px;
    font-size: 18px;
    color: #797979;
}

.footer-left-info > a {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 165%;
    color: #FF005C;
}

.footer-left-info > p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #797979;
    margin-left: 33px;
}

h6, h5, h2 {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 50px;
}

.serivceImg {
    margin-left: auto;
    margin-right: auto;
}

.footer-right > p {
    font-weight: 900;
    margin-left: 78px;
}

.footer-right-lists {
    display: flex;
    border-left: 1px solid #BFE0FF;
    height: 300px;
    padding: 0 50px;
    justify-content: space-between;
}

.footer-right-list {
    margin: 80px 30px;
    padding: 0;
}

.modalform {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.modal-window > .title {
    text-align: center;
}

.modalform > label {
    display: flex;
    flex-direction: column;
}

.modalform label > input {
    width: 500px;
    height: 40px;
    margin-bottom: 23px;
}

.modalform label > textarea {
    width: 500px;
    resize: none;
}

.modalform > button {
    margin-top: 33px;
    background: #FF005C;
    padding: 12px 40px;
    box-shadow: 0 0 30px rgba(0, 133, 255, 0.25);
    border-radius: 4px;
    border: none;
    outline: none;
    color: var(--whiteColor);
    cursor: pointer;
}

.modalform > button:hover {
    box-shadow: 5px 6px 40px rgba(0, 133, 255, 0.55);
}

@media screen and (min-width: 280px) and (max-width: 780px) {
    header {
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
    }

    .header__nav-list {
        display: block;
    }

    .header__nav {
        display: flex;
        flex-direction: column;
    }

    .main__image {
        display: none;
    }

    .chooses__wrap {
        display: block;
    }

    .chooses__card {
        width: 270px;
        height: 280px;
        margin-bottom: 40px;
    }

    .type__fix-wrap {
        display: flex;
        flex-direction: column;
    }

    .type__fix-card-1, .type__fix-card-2, .type__fix-card-3, .type__fix-card-4, .type__fix-card-5, .type__fix-card-6, .type__fix-card-7, .type__fix-card-8  {
        background-image: none;
    }

    .type__fix-card-item > p {
        max-width: 220px;
    }
    
    .repair__brand {
        display: none;
    }

    .type__fix-card {
        box-shadow: 0 0 10px rgba(0, 133, 255, 0.15);
        width: 280px;
        height: 320px;
    }

    .type__fix-card-content {
        display: block;
    }

    .swiper-slide-top {
        text-align: center;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide-bottom {
        text-align: center;
    }

    .swiper-slide-center {
        display: flex;
        flex-direction: column;
    }

    .working__card {
        width: 286px;
    }

    .working__card-bot {
        width: 286px;
        display: block;
        height: 180px;
        padding: 20px 10px;
        background: #FFFFFF;
        box-shadow: 0 0 20px rgba(140, 142, 144, 0.15);
    }

    .working__card-bot-top {
        border-right: none;
        padding: 0;
        margin: 0;
        height: 80px;
        display: flex;
        border-bottom: 1px solid #BFE0FF;
        align-items: center;
    }

    .working__card-bottom-bot {
        display: flex;
        align-items: center;
        margin-left: 22px;
    }

    .service {
        display: none;
    }

    .sale {
        display: none;
    }

    .working__wrap {
        display: block;
    }

    .contact-info-block {
        text-align: center;
        padding-left: 0;
        width: auto;
        border-right: none;
        margin-bottom: 13px;
    }

    .contact-info {
        display: block;
    }

    .footer-right {
        display: none;
    }
}